{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <h3 class="title">User Log In</h3><br>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn px-4" type="submit">Log In</button>
</form>
{% endblock %}