{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="mt-3 d-flex justify-content-center ">
        
        <form action="/register" method="post">
            <h3 class="title">Create a Student Account</h3><br>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="firstname" name="firstname" placeholder="What's your first name?" type="text" required>
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Pick a username" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (again)" type="password" required>
            </div>
            
            <button class="btn px-4" type="submit">Register</button>
        </form>
    </div>
    


{% endblock %}