{% extends "layout.html" %}

{% block title %}
Request Points
{% endblock %}

{% block main %}
<form action="/request" method="post">
    <h3 class="title">{{firstname}}'s Points: {{points}}</h3><br>
    <h3 class="title">I request the following points:</h3><br>
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="ptchoice" id="ptchoice">
            <option value="0">----------------Please choose an option below----------------</option>
            {% for choice in choices %}
            <option value="{{choice.option}}|{{choice.value}}">{{choice.option}}--{{choice.value}}pt</option>
            {% endfor %}
        </select>
    </div>


    <button class="btn px-4" type="submit">Request</button>
</form>
{% endblock %}
